[2018-07-24 21:11] smiLLe opened #1 "Q: Default is PublishSubject"
hey,

thanks for this great lib :)!

I just wanted to ask what kind of problems occurred using BehaviourSubject over PublishSubject in flutter?

[2018-08-18 21:30] farukzahra opened #2 "rx_command ^2.0.3, version solving failed."
Because rx_command >=1.0.6 depends on quiver_hashcode ^1.0.0 which requires SDK version >=1.8.0 <2.0.0, rx_command >=1.0.6 is forbidden.
So, because kefir depends on rx_command ^2.0.3, version solving failed.

PS C:\flutter_apps\kefir> flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[√] Flutter (Channel master, v0.5.9-pre.80, on Microsoft Windows [versÃ£o 10.0.17134.228]

[2018-08-19 18:33] #2 closed

[2018-08-19 19:04] slightfoot commented on #2
Hi @farukzahra, @escamoteur is on vacation, I've picked this one up. It's now resolved in release `v2.0.4`. Let me know if you have any problems.

[2018-09-20 12:56] escamoteur commented on #1
Unfortunately I don't recall it exactly.

[2018-09-20 13:00] escamoteur opened #3 "Renaming of the RxCommand creation factory methods"
Hi, I would like your opinion. I want to rename the static factory functions of my RxCommands. An RxCommand can be created in different flavours:
1. with no Parameter and no Return Value
2. with a Parameter and no Return Value
3. with no Parameter but a Return Value
4. with a Parameter and a Return Value

Currently:

createSync
createSync1
createSync2
createSync3

createAsync
createAsync1
createAs

[2018-09-20 13:01] escamoteur commented on #3
createSyncNoParamNoResult
createSyncParamNoResult
createSyncParamNoResult
createSyncParamResult

createAsyncNoParamNoResult
createAsyncParamNoResult
createAsyncParamNoResult
createAsyncParamResult

[2018-09-20 13:04] escamoteur commented on #3
createSyncNPNR
createSyncPNR
createSyncPNR
createSyncPR

createAsyncNPNR
createAsyncPNR
createAsyncPNR
createAsyncPR

[2018-09-20 13:04] escamoteur commented on #3
createSNPNR
createSPNR
createSPNR
createSPR

createANPNR
createAPNR
createAPNR
createAPR

[2018-09-22 15:04] escamoteur commented on #3
Thanks for your votes. I now decided to use long names but invert them meaning the default is not with parameter and result so that the naming is now:

[code]

[2018-09-23 10:08] #3 closed

[2018-10-30 13:19] soernt opened #4 "Dependency issue"
Can you please update the depency of json_annotation to the latest version.

I need to update my build_runner to 1.0.0. That requires an updated version of json_serializable (2.0.0) and json_annotation (2.0.0)

[2018-10-30 14:56] escamoteur commented on #4
Done, I removed the dependency. it was not needed

[2018-10-30 16:04] soernt commented on #4
Thank you!

[2018-10-30 16:04] #4 closed

[2018-11-04 17:03] mrangelba opened #5 "Assign RxCommand on validator TextFormField"
Error message "The argument type 'RxCommand<String, String>' can't be assigned to the parameter type '(String) → String'."

`TextFormField(
                                decoration: InputDecoration(
                                    hintText: "Título",
                                    labelText: "Informe o título da marca"),
                                initialValue: snapshot.data.brand.

[2018-11-04 19:10] escamoteur commented on #5
You cannot use an RxCommand as a Validator in a Textformfield. a Validator has to be a function that returns String or null. Calling an RxCommand doesn't return anything

[2018-11-04 21:01] #5 closed

[2018-12-05 16:00] mnazim opened #6 "Q: why does command.execute not work with stdin.readLineSync() in loop ?"
Hi, I think I am missing a concept of two here. `works` functions works as expected, same thing does not work in a loop.

[code]

[2019-01-16 08:27] zgunz42 opened #7 "Q: Why Listener Only Return Once When Run Command?"
Hay, I try to make a loading indicator using rx_command so at loading screen it has fading dot where will be update when percent is increase, first it will load preference, and all asyc stuff. So when I call this command it will start the process

[code]

so at initState method I put listener to ```loadAppCommand```

[code]

How do I add loading percent to loadAppCommand Stream Like Using ```add``

[2019-01-17 09:45] escamoteur commented on #7
How do you create your command?

[2019-01-18 02:17] ilap opened #8 "Unit Testing commands"
Hi,

Why don't the following command invoke the service call?

[code]

Error message:
[code]

[2019-01-18 02:19] ilap commented on #8
Sorry it's fixed by /w the following
[code]

[2019-01-18 02:19] #8 closed

[2019-01-21 00:05] pouledodue opened #9 "RxCommandListener does not call onError if debounceDuration is null"
`RxCommandListener` does not call `onError` if `debounceDuration` is null

this code is not called:
[code]
... so I can't listen on exceptions thrown

[2019-01-23 16:28] escamoteur commented on #9
should be fixed now in 4.1.1 Thanks for reporting

[2019-01-23 16:57] #9 closed

[2019-01-27 14:15] RussellZornes opened #10 "Add support for transformers to command."
##It would be useful to process command results using stream transformers for validation.
This validation should occur within the command and not something external.
The problem is the command itself is an observable so i cannot add this transformer unless I have the caller of the command add it to its observable...

[code]
It would be nice if we could attach a transformer to the command and then

[2019-01-30 09:59] pouledodue commented on #10
and a transformer for thrownExceptions too...

[2019-02-04 10:35] escamoteur commented on #10
Interesting thoughts. Must it be a transformer or would a mapping function that can be added when creating a command be enough?
I'm not sure if another output observable would be agood idea. Do you think you would need both, the transformed and the not transformed version.
Also did you have a look at RxCommand.fromStream to add the transformer at that point?

[2019-02-04 10:36] escamoteur commented on #7
@zgunz42 can you provide me with more information or can I close the issue?

[2019-02-04 10:36] #1 closed

[2019-02-04 10:39] escamoteur commented on #6
I'm not sure but I suspect it is because Dart is singlethreaded. try to ass an `await  Future.Delayed` in your loop and see if it works then.

[2019-02-06 13:52] joaowd opened #11 "Q: How to prevent listen to run multiple times."
Inside the initState I have the following code:

_getAllTagsCommand = _tagManager.getAllTagsCommand;

_getAllTagsCommand.listen((List<Tag> tag) async {
      print(tag);
});

_getAllTagsCommand.execute();

But every time I close and open the view, listen is called +1 time.

I already tried to add .cancel, like you have in the documentation, but if I do that it doesn't get called.

Regards.

[2019-02-06 14:10] joaowd commented on #11
I think I got it, I need to create a StreamSubscription, and cancel onDispose.

Is there any other way without creating a new variable ?

[2019-02-06 20:05] escamoteur commented on #11
Unfortunately not, you have to store the subscription somewhere to be able to Cancel it

[2019-02-06 21:30] joaowd commented on #11
Alright, thank you!

Btw when are you going to publish your next part of the RxVMS series :)

[2019-02-16 18:25] RussellZornes commented on #10
I think a mapping function would be enough although StreamTransformer is already there. Is another abstraction needed?

I agree that both transformed and non transformed streams are not needed. You would only want the transformed one.

I'll look at RxCommand.fromStream to see if that does what I want. Thanks for the pointer.

[2019-03-06 15:05] hernan opened #12 "RxCommandListener error if only onIsBusy used"
I've a listener and only use onIsBusy and onError and see errors in the console about a call with null, traced the problem this piece

rx_command_listener.dart#56
[code]
The problem disappear if use both parameters onIsBusy and onNotBusy

[2019-03-07 08:25] TheHemantKaushik opened #13 "Create new stream without recreating manager."
Can we create a command `createFromStream` where the request param is updatable?

**Current flow:**

    class SiteManager {
      RxCommand<Site, Site> selectedSite;
      RxCommand<String, String> selectedSiteId;

      final SiteService _siteService;

      StreamSubscription _siteSubs;

      SiteManager(this._siteService) {
        selectedSite = RxCommand.createSync(
          (v) => v,

[2019-03-13 21:33] Afulton11 opened #14 "CanExecute always false after exception thrown"
For an async RxCommand created like so:

[code]

This command can only be executed at most once then `_canExecute = false`. I have checked and the `thrownExceptions` bool in `rx_command.dart` is `false`. While `_canExecute = false` and `_isExecuting = false` after the first throw.

I am unsure of what exactly is happening here since from the code, I can see that a true value is pushed to the `_can

[2019-03-14 01:08] Afulton11 commented on #14
Sorry, it appears the problem I was having is that the command is executed, but the errors thrown are never bubbled up and don't appear to be caught by the command.

[2019-03-14 01:37] Afulton11 commented on #14
After a further look into the problem, it appears the command might be getting into a deadlock once the error is thrown. (using the same command setup as shown in the initial post)

[2019-03-14 02:52] Afulton11 commented on #14
Sorry, this appeared to have been an issue with rx_widgets not supporting the current version of rx_command properly.

[2019-03-14 02:52] #14 closed

[2019-03-14 22:45] davidmartos96 opened #15 "Not listening initial result"
Why does this code only receive the value true?

[code]

Shouldn't it listen for both, false and then true?

[2019-03-26 21:57] lemoony opened #16 "RxCommands with asynchronous handlers should be await able"
Hey, first of all: Thank you for this library, it's already immensely useful.

I think it would great if RxCommands with asynchronous handlers are awaitable. This way, one can compose more complex RxCommands from simpler one. E.g.:

[code]

[2019-03-28 18:43] paulcbetts commented on #16
Good idea! I've added a sketch of this feature in #18

[2019-03-28 18:51] paulcbetts commented on #12
Thanks for the catch, PR is up to fix it

[2019-03-28 18:53] paulcbetts commented on #15
tbh I would expect this to print only `false` since you never called `execute`, or?

[2019-03-29 06:02] TheHemantKaushik opened #20 "How to handle refresh indicator?"
I want to show a refresh indicator when command is in progress. How can we handle that?

[2019-03-29 10:34] #12 closed

[2019-03-29 10:39] #16 closed

[2019-03-29 10:41] escamoteur commented on #10
@RussellZornes does fromStream work for you?

[2019-03-29 10:41] #11 closed

[2019-03-29 10:43] escamoteur commented on #15
`initialLastResult` isn't emitted on the stream. its for setting `lastResult`to a valid value so that you can use it in a StreamBuilder as `initialData`

[2019-03-29 10:43] #15 closed

[2019-03-29 10:45] escamoteur commented on #20
You mean a loading spinner? Subscribe to the yourCommand.isExecuting and show/hide your spinner depending on the value you get.
Even easier is the use of a RxCommandListener which has a direct handler  `onIsBusy` and `onIsNotBusy`

[2019-03-29 10:54] escamoteur commented on #12
Fixed in V4.3.0

[2019-03-29 10:56] escamoteur commented on #13
@paulcbetts Do you understand what he wants to achieve?

[2019-03-29 10:59] TheHemantKaushik commented on #20
Hi @escamoteur, thanks for the reply !

Listening an `isExecuting` event is easy and `RxCommandListener` is more. I am heavily using `rx_command` and `rx_widgets` packages in my app.

The confusion is with `RefreshIndicator` widget. It needs a future object to show indicator. I need it to am implement swipe-to-refresh.

[2019-03-29 11:09] TheHemantKaushik commented on #13
Hi @escamoteur @paulcbetts

I mean to say that if I execute `selectedSite.execute("any-id")` command second time then it should call `_siteService.getByIdStream(id)` again.

[2019-04-02 16:42] lemoony commented on #16
Great, thanks!

What do you think about returning the next property also from the call function?

`Future<TResult> call([TParam param]) => execute(param);
`

Otherwise, we have to first call execute() and then await on the next property instead of just await on the execute method.

Not sure however if this may introduce some unwanted side effects.

[2019-04-16 16:56] RussellZornes commented on #10
Yes I've been able to use fromStream to do what I need.

I guess you can close this.

[2019-04-17 08:11] Line- opened #21 "rxdart version"
Could the rxdart dependency be bumped to 0.21.0?

[2019-05-06 17:17] RussellZornes commented on #21
Actually make that 0.22.0. :)

[2019-05-07 13:32] escamoteur commented on #21
Done

[2019-05-07 13:32] #21 closed

[2019-05-09 12:06] Line- commented on #21
Could we get a new build on pub as well?

[2019-05-09 16:44] escamoteur commented on #21
sorry I made a mistake, now its up

[2019-07-18 09:07] agmontpetit opened #23 "How to pass more than one param to the command?"
Is there a way to pass more than one param to the command? So far I have been passing a single param – a map with all original params.

[2019-07-18 09:22] escamoteur commented on #23
Unfortunately not. I typically wrap multiple Parameters in a wrapper class

[2019-07-18 09:26] agmontpetit commented on #23
Thanks for the quick reply!

[2019-07-19 08:37] #23 closed

[2019-08-03 12:52] hasimyerlikaya opened #24 "How do I wait for interconnected commands to end?"
I use interconnected commands to perform a systematic job. For example, one command receives data from the server, the other command prepares the data, and the last command updates the interface.

<img width="621" alt="Screen Shot 2019-08-03 at 15 44 04" src="https://user-images.githubusercontent.com/7986394/62412089-221e9780-b606-11e9-9279-8dd7cee89265.png">

I want to show loading on the screen

[2019-08-03 13:01] escamoteur commented on #24
@anaisbetts could you please have look at this I'm on vacation

[2019-08-09 06:56] anaisbetts commented on #24
If they all chain, just listen to the last one

[2019-08-09 17:53] hasimyerlikaya commented on #24
@anaisbetts @escamoteur

I know I need to listen to the last command to get data. But that's not what I'm asking. I want to show loading indicator on the screen until all commands are finished.

The Loading indicator will appear when the first command runs and will disappear when the last command finishes its job. That's exactly what I want.

I can do this in various ways. But I wanted to ask if t

[2019-08-15 22:06] dluksza commented on #24
Do you really need to send/initialize all of those three commands?

I'm guessing you're not sending all of those events from UI. If I understand you correctly you want send event to start first command. Then when first command finishes, start second one and after it finish start third one, and finally update UI, am I right?

If yes, then you actually don't need three commands! You need one command

[2019-08-20 11:59] MillerAdulu opened #25 "RxCommandListener pass functions after initialization feature enquiry"
I am appreciative of the good work on this. Thank you a lot.

I am working on an application which I managed to find a workaround for. Currently, it's not possible to pass functions to some of the RxCommandListerner without going through the constructor as shown in the code sample below. My workaround is that I set a boolean variable in the class which is modified by the RxCommandListener which I

[2019-08-22 11:15] #25 closed

[2019-08-22 11:22] escamoteur commented on #24
If the commands are only called from other commands and are in the same class it doesn't make sense to split them if they are only called sequentially.
If you would call command2 async at the beginning of command 1 it would be different.
In this case you could just use rx to combine the the isExecuting  with combineLatest.

[2019-08-22 11:24] escamoteur commented on #20
Sorry I somehow missed this. Did you solve your problem in the meantime?

[2019-08-22 11:28] TheHemantKaushik commented on #20
I made some jugaad for that, but didn't find the right solution yet.

[2019-08-22 11:29] escamoteur commented on #13
Sorry, did miss your reply I was pretty busy the last time.
Shouldn't createFromStream do exactly what you want?
Did you solve the problem?

[2019-08-22 11:29] #10 closed

[2019-08-22 11:29] #7 closed

[2019-08-22 11:30] #6 closed

[2019-08-22 11:33] escamoteur commented on #20
So you want that the RxCommand is passed as a Future to the RefreshIndicator?

[2019-08-22 11:45] escamoteur commented on #20
you could just use the .next Property of the command I guess

[2019-08-22 12:02] TheHemantKaushik commented on #13
`createFromStream` is not working as expected. In my case, manager classes are singleton, and it is initialized only once. I'm using multiple RxCommand's currently. Holding value in one command, listening it to create stream, and updating results in another command.

[2019-08-22 12:11] escamoteur commented on #13
What exactly is the problem with create from stream?

[2019-08-22 12:13] TheHemantKaushik commented on #13
I'll create a sample and share it with you shortly.

[2019-08-22 15:39] Eupatech opened #26 "Bug: RxCommandAsync blocks after an Error in handler"
_isRunning muss be set to false in handleError() call in rx_command.dart file at  line 467.

[2019-08-22 15:56] Eupatech commented on #26
class RxCommandAsync<TParam, TResult> extends RxCommand<TParam, TResult> {
  ...
@override
  execute([TParam param]) {
...
_func(param).asStream().handleError((error) {
      if (throwExceptions) {
        _resultsSubject.addError(error);
        _isRunning = false; // <------------------------------ Bug. add _isrunning=false
        return;
      }
...

[2019-08-23 10:43] escamoteur commented on #26
I'm just on it. This only happens if you set `throwException=true'
Why do you need  `throwException=true' ?

[2019-08-23 11:56] escamoteur commented on #26
Should be fixed in 4.3.2

[2019-08-23 11:56] #26 closed

[2019-08-23 12:11] Eupatech commented on #26
Hi. I need it to get error in streambuilder.

⁣Get BlueMail for Android ​

On 23 Aug 2019, 11:43, at 11:43, escamoteur <notifications@github.com> wrote:

[2019-08-23 12:26] escamoteur commented on #26
I would then recommend to use the . results Observable for your Stream Builder the you get all state information at once

[2019-09-10 08:21] ValeriusGC opened #27 "RxLoader does not initiate spinner"
Hi!
I realized `RxLoader` in that way
[code]
but no any spinner at all, only `placeHolderBuilder`, and `placeHolderBuilder`.
Of course, subscribing on `isExecuting` works, but how about RxLoader as handy aggregate?

[2019-09-10 09:39] ValeriusGC commented on #27
My fault. Used it incorrect.

[2019-09-10 09:39] #27 closed

[2019-09-26 15:43] kuhnroyal commented on #12
Still having a problem in this line with the latest version if only `onNotBusy` is set.

[code]

[code]

[2019-09-26 15:47] escamoteur commented on #12
Could you please for now assign a dummy function? I look it it as soon as possible.

[2019-10-02 14:31] kuhnroyal opened #28 "RxCommandStream inputObservable not closed on dispose"
The input observable for `RxCommandStream` [here](https://github.com/fluttercommunity/rx_command/blob/master/lib/rx_command.dart#L644) is not closed when the command is disposed.

I am wondering if this should be handled by the RxCommand itself or if I should manually add some `takeUntil` logic, which seems like lots of boilerplate.

[2019-10-02 14:38] escamoteur commented on #28
Good catch, I really wished we had destructors.
Have to think about it.
Do you create and dispose Commands a lot while your App is running?

[2019-10-04 09:55] kuhnroyal commented on #28
Well, we create commands for every manager/BLoC and as you move through the app from screen to screen some managers get disposed and rebuild.

[2019-10-04 10:00] escamoteur commented on #28
Could you live with a dispose method on commands?
In RxVMS most Managers stay alive as long as the app runs.
BTW if you are using get_it, it now supports disposal of registered objects.

[2019-10-07 07:49] boozy-ph opened #29 "State was not preserved after navigation"
I'm having state issue when changing route. Is this intentional?

Methods used were the following:
[code]

[2019-10-07 08:48] escamoteur commented on #29
what do you mean by state issue? In which context to RxCommands?

[2019-10-07 10:18] boozy-ph commented on #29
My bad, I thought when using `Navigator.of(context).pushNamedAndRemoveUntil` the state was removed because previous route was removed as well. I just did hot restart and  my app is working fine now.

[2019-10-07 10:26] #29 closed

[2019-10-07 12:17] boozy-ph opened #30 "type 'LocationModel' is not a subtype of type 'CommandResult<LocationModel>'"
What should be the correct snapshot type using streambuilder?
The codes are the following:

StreamBuilder
[code]

LocationsManager
[code]

If I'm gonna remove `CommandResult<LocationModel> result = snapshot.data;` it will throw an Error:

[code]

[2019-10-07 12:19] escamoteur commented on #30
you have to use `result.data.data`

[2019-10-07 12:23] boozy-ph commented on #30
@escamoteur, you mean with my existing code and without `CommandResult<LocationModel> result = snapshot.data;`, I should use `snapshot.data.data.city`?

[2019-10-07 12:26] boozy-ph commented on #30
@escamoteur your right the error `type 'LocationModel' is not a subtype of type 'CommandResult<LocationModel>'` was resolve, but when I change route another error occur:

[code]

[2019-10-07 12:41] escamoteur commented on #30
It depends :-)

If you need inside your `StreamBuilder` data, busy and error  then you have to use `CommandResult<LocationModel>` as your generic Type  so

Btw yu can omit the `get`of GetIt because its a callable class

[code]

Always tell StreamBuilder which Type you expect.

If you are only interested in the data, because you might listen to the `thrownExceptions` elsewhere

You use the Command

[2019-10-07 13:07] boozy-ph commented on #30
Thanks @escamoteur ! Here's the final StreamBuilder that works for me:

[code]

omitting the `get` on sl class throws runtime error maybe because of how I instantiate sl class?
here's my code on it:

[code]

[2019-10-07 13:16] escamoteur commented on #30
Um this should work, what exxor did you get? Did you possible delete the `()` ? it shout be `sl<YourType>()`

[2019-10-07 14:52] boozy-ph commented on #30
Errors are:

[code]
and `Unexpected text '.'`

I'm using `get_it: ^3.0.1`

[2019-10-07 15:18] escamoteur commented on #30
ahh could you just show me the line looks where the error is? And the one below?

[2019-10-08 03:21] freeman29 commented on #30
Sorry my bad again I did this `sl.<LocationsManager>().selectLocationCommand.results` that supposed to be `sl<LocationsManager>().selectLocationCommand.results` without the dot after `sl`.

Thanks again @escamoteur and for all your great packages, you are awesome mate.

[2019-10-08 03:23] #30 closed

[2019-10-08 14:34] escamoteur commented on #28
Sorry that I didn't have time yet.
For the Listview I would only use one command in a manager that takes the item I'd as parameter

[2019-10-08 15:19] kuhnroyal commented on #28
But then they would have to fetch their data sequentially as one command can only track executing state for one ID parameter.

[2019-10-08 15:29] escamoteur commented on #28
Hi,
I m back at home Thursday. I m in Bonn Germany, so perhaps its the easiest thing to have a short Skype?

[2019-10-23 17:11] escamoteur commented on #28
@kuhnroyal Interested in a short chat on this topic?

[2019-11-20 06:21] boozy-ph opened #31 "NoSuchMethodError: The method 'call' was called on null"
What's the fix for this issue?

[code]

This is about **RxCommandListener** that was called on widget initState.

[code]

[2019-11-21 14:25] escamoteur commented on #31
Hmm,
the message looks like your RxCommand was null when you tried to call it but the stacktrace has the  RxCommandListener somehow in it.
Could you activate 'Break on all Exceptions in your debugger' and try to figure out where it exactly happens?

[2019-11-22 06:27] freeman29 commented on #31
This happens on widget initialisation state, and I manage to fix the error by adding the following **code/method** on **RxCommandListener**:

[code]

@escamoteur can you please explain why? was onNotBusy a required one?

[2019-12-03 13:52] escamoteur commented on #31
It's a bug. The moment you set onBusy() it required also onNonBusy. I'm just fixing it

[2019-12-03 14:09] escamoteur commented on #28
I had now a closer look, sorry for the delay.

[code]

You cannot close an observable, you only can close a StreamController or cancel a subscription.
`inputObservable` get's listened to inside `addStream` without storing the subscription anywhere so I can't cancel it from there but I don't think this is a problem.
Otherwise the Dart team would have dealt with this differently.

I also changed the

[2019-12-03 14:11] escamoteur commented on #13
Do you still have a problem with this?

[2019-12-03 14:19] escamoteur commented on #28
Fixed in V4.3.3

[2019-12-03 14:19] #28 closed

[2019-12-03 14:20] escamoteur commented on #31
Fixed in V4.3.3

Was a bug that only could happen if you only set one of the busy handlers.

[2019-12-03 14:20] #31 closed

[2019-12-13 04:17] baku-apps opened #32 "RxCommand.createFromStream() with a type Stream as provider does not emit an exception."
[code]

The following code does not emit to thrownException. If we change the stream for an `Observable.just('test')`, it will emit the error. I have a suspicion that the `addStream()` in the `execute()` does not work correctly. (line 646 in rx_command.dart: `_commandResultsSubject.addStream(inputObservable).then((_) {`)

When I replaced code of the RxCommandAsync `execute()` it did emit the error

[2019-12-13 04:27] baku-apps opened #33 "RxCommand.createFromStream() emits a exception twice."
[code]

This prints the exception twice. I would expect it to print it only once.

[2019-12-15 05:30] dalewking opened #34 "Rewrite to support rxdart 0.23.1"
Rxdart 0.23.1 is a major change and eliminates the Observable class.

[2019-12-16 15:43] dalewking commented on #34
Actually it was pretty easy to convert using https://pub.dev/packages/rxdart_codemod, Afterword, I think you only need to:
- import rxdart into RxCommandListener
- make RxCommand extend Stream instead of Observable
- do not call superclass constructor in RxCommand
- Add this method to RxCommand:
[code]
Haven't tested it yet. I'll see if I can whip up a PR for it.

[2019-12-20 09:28] escamoteur commented on #34
It's on my todo list :-) a PR would be great.

[2019-12-24 12:53] baku-apps commented on #32
Perhaps I'm creating the streamprovider incorrect? This is a simplified example.

In real life I'm returning a firestore stream and transform the data in the map(), which could cause an exception. Would appreciate some help.

Thanks, and merry xmass!

[2019-12-28 14:11] escamoteur commented on #33
Thanks for reporting
Fixed in 4.3.4

[2019-12-28 14:11] #33 closed

[2019-12-28 14:12] escamoteur commented on #32
merry xmass to you too.

This wasn't reallya bug because it happened because you never closed the input controller. Still I now changed the implementation in V 4.3.4 so that it will always work. I added your example as new test

[2019-12-28 14:12] #32 closed

[2019-12-28 14:45] escamoteur commented on #34
Done with new Version 5.0.0

[2019-12-28 14:45] #34 closed

[2019-12-29 12:16] AlexBacich opened #35 "Question: Get notice when command is executed"
RefreshIndicator widget requires parameter Future<void> in order to function (finish circling value received).

I'm wondering if there is a way to make RxCommand friend with RefreshIndicator.

Problem is that once I call execute() for my command I get void result.

What I want to do is call command and return Future with null emitted once command finishes with data or error.

[2019-12-29 13:38] escamoteur commented on #35
what about using isExecuting.where(x=>0==false).take(1)? do that in a getter so that it is executed everytime?

[2019-12-29 22:08] AlexBacich commented on #35
Hi @escamoteur , thanks for the answer. Here's solution I've came up so far. I'm sure it can be optimized but don't yet no ideas

[code]

Even if I add delay after  getHistoryCommand.execute() it still fires isExecuting = false first. So I have to put  take(2) instead of take(1)

[2019-12-31 14:02] escamoteur commented on #35
Ah, that is interesting. Not sure if I should count this as an error.
May I propose:

getHistoryCommand.isExecuting.distinctUnique.where((b) => b == false).take(1).last

Then it won't break in case I deide to remove the initial emitting of false.

Great that this works for you.

[2019-12-31 14:53] AlexBacich commented on #35
I guess supposed behavior is to emit initially false only if command isn't executing.
Anyway, what you are proposing is excellent idea.
If I'm not the only one who needs this maybe helper function will be nice to have. Like

Will do in my project as extension anyway.

[2019-12-31 15:38] escamoteur commented on #35
Good idea!

[2020-01-09 11:15] AlexBacich commented on #35
Hey @escamoteur , just another observation in regards of commands flow.

If I run command BEFORE widget if built for the first time - there are problems with creating RxLoader.
Basically it never receives state 'isExecuting = true' so not showing loader. Only after command is finished it receives first state.

As a workaround solution - command should be launched in init state after widget is buil

[2020-01-09 11:17] escamoteur commented on #35
Did you set the parameter `emitsLastValueToNewSubscriptions` to true? Then the Streams are BehaviourSubjects

[2020-01-09 11:20] AlexBacich commented on #35
ah, you already did it ) It works, thanks!

[2020-01-29 14:15] smiLLe opened #36 "isExecuting and canExecute are constantly recreated"
Hi,

i was using flutter_hooks (but the problem will probably show for streambuilder, provider etc. as well) where i have a widget like this:
[code]

The problem is, useStream will listen to a stream until it receives a new stream, then it will unsub to the previous and listen to the new stream...
isExecuting is a BehaviorSubject and immediately pushes the latest value, which useStream will take a

[2020-01-29 15:40] escamoteur commented on #36
Hi, that is indeed an interesting point. I change it and check if all is still working

[2020-01-29 17:17] escamoteur commented on #36
Please give the new version 5.02 a test

[2020-01-31 09:25] escamoteur commented on #36
Have you tried it?

[2020-01-31 10:08] smiLLe commented on #36
Hi, the update is working :) no infinite rebuilds

[2020-01-31 10:11] #36 closed

[2020-03-19 10:31] #35 closed

[2020-03-19 10:31] #13 closed

[2020-03-19 10:31] #20 closed

[2020-03-19 10:32] #24 closed

[2020-04-18 23:37] fedotxxl opened #38 "RxCommand ignores call when another call is still in progress"
Here is a code to reproduce:

[code]

It's a little bit strange to me. How should I organize code in this case? What was the reason for this behavior? Isn't it better to interrupt the first call (with notification to call action) and start processing the second one... and ignore the first one result?

[2020-04-26 15:35] escamoteur commented on #38
this is actually how it is meant to be. Interrupting an async  function isn't possible you would need to pass a cancellation token and the async function would have to check that periodically.

Perhaps @anaisbetts has an idea?

[2020-05-01 09:41] fedotxxl opened #39 "Please explain difference between emitLastResult and emitsLastValueToNewSubscriptions"
Can you explain the difference and add it to the description?

[2020-05-06 20:50] TomMannson commented on #39
When You run same command second time and _emitLastResult is set to true last result of commend will be emited to the result stream immediatly after start

On the other hand emitsLastValueToNewSubscriptions decides which type of Subject will be used for result stream
true BehaviorSubject - Subject with memory of last result
In practice if You have finished execution of command and after that You w

[2020-05-11 17:12] #38 closed

[2020-05-13 11:27] escamoteur commented on #39
Excatly on point @TomMannson

[2020-05-13 11:27] #39 closed

[2020-05-13 11:45] fedotxxl commented on #39
Sorry... Still don't get the difference. Can you provide a very simple example to display the difference between these properties?

[2020-05-13 12:01] escamoteur commented on #39
So emitLastResult effects when you call the command multiple times and emitsLastValueToNewSubscriptions effects what happens when a new subsriber is added to the command if it already has run before.

[2020-05-13 12:03] fedotxxl commented on #39
ok, got it. Thank you

[2020-05-30 04:20] nosmirck opened #40 "Update to use with latest rxdart version"
[code]

[2020-06-17 12:33] baku-apps commented on #40
When I bump up the rx_dart package (to 0.24) in the rx_command pub package several unit tests fail :(

[2020-06-21 21:43] hasimyerlikaya opened #42 "How can I access the input parameter when the error is thrown?"
I'am big fan of RxCommand.
I think best state management solution is RxVMS for flutter.

My architecture of last three project is based on RXCommand.
I growup my architecture with every project.

In my last project, I use AnimatedListWidget.
When user tap the delete button, I sending request to the server and then I switch widget status as loading.
After server responsed, I am switch widget status

[2020-06-23 11:18] escamoteur commented on #40
Thanks for the PR! I just pushed V5.1.0

[2020-06-23 11:18] #40 closed

[2020-06-26 13:14] baku-apps opened #44 "RxCommand from stream failed to dispose fully"
I'm creating a RxCommand from a stream with a timeout. After disposing the RxCommand the timeout still emits and an exception is thrown.

[code]

Exception is thrown rx_command.dart line 642
It looks like the `inputObservable` is not closed on dispose, so it is still listening to emitted notifications (i.e. from the timeout exception). Should this subscription also be disposed?

[2020-06-27 15:04] escamoteur commented on #44
I think I found it. Can you try V version: 5.1.0+test?

[2020-06-28 09:42] baku-apps commented on #44
Awesome, thanks for the quick fix!

[2020-06-28 13:28] escamoteur commented on #44
so everything works?

[2020-06-28 13:45] baku-apps commented on #44
Yes, the input stream subscription is now disposed so does not emit the timeout error anymore. Thanks again!

[2020-07-07 22:27] #44 closed

[2020-07-23 10:13] escamoteur commented on #42
would it be enough if I included TParam Value in CommandResults?
Otherwise I would have to change to Type of thrownExeptions to some ErrorState object which would be a breaking change.

[2020-07-23 10:16] hasimyerlikaya commented on #42
Frankly, I almost never felt the need to use CommandResults.

So frankly it doesn't work for me.
I sent a Pull Request for an arrangement on this.
If you can review that arrangement, we will not need to make this change if appropriate.

First of all I ask you to check the pull request.

[2020-08-21 05:47] #42 closed

[2020-08-24 10:12] escamoteur commented on #42
Just for your information, in my new command package flutter_command I implemented your wish.

[2020-08-24 10:14] hasimyerlikaya commented on #42
@escamoteur Thank you. I am checking flutter_command now.

[2020-12-05 11:31] AlexBacich opened #47 "Nullability support"
Hey, do you have in plans nullability support for the library? I can take care about nullability support for Rx_widgets.

[2020-12-05 21:54] escamoteur commented on #47
yep will come, I only have to have time :-)
get_it and functional_listener are already migrated

[2021-03-08 05:53] mk-dev-1 commented on #47
Morning everyone,

is this coming anytime soon? This library is currently the only one that is left to update our production code.
I've had a go at it myself, but as there are a number of ways to migrate the package, I don't really want to interfere with the intentions of the maintainers...

Thanks for your support!

[2021-03-08 07:52] AlexBacich commented on #47
@mk-dev-1 , do you have migrated version? I've run into issues while trying to migrate.

[2021-03-08 09:15] escamoteur commented on #47
@josh-ksr have you already done something on this side?

[2021-03-08 09:16] escamoteur commented on #47
@mk-dev-1 could you make a PR, so that we could have a look at it?

[2021-03-08 19:30] mk-dev-1 commented on #47
@escamoteur: Please have a look at #49. I am struggling with an issue, but I am sure it can be resolved rather easily ;-)

[2021-04-07 16:59] AlexBacich commented on #47
@escamoteur , would you have time to work on it any time soon? This seems too challenging to me to migrate myself, and this issue is blocking for full project migration to null-safety.

[2021-04-08 06:57] escamoteur commented on #47
Will try to do it over the weekend

[2021-04-10 09:54] rednikisfun opened #51 "Error: The getter 'value' isn't defined for the class 'Notification<TResult>'."
When I try to run the app on an Android device, I encounter an error:

[code]

Flutter doctor output:
[code]
Pubspec:
[code]

[2021-04-10 10:52] rednikisfun commented on #51
Closing the issue as the dependency conflicts were the cause. ex_command 5.3.0 was not compatible with overridden rxdart ^0.26.0-nullsafety.1

[2021-04-10 10:52] #51 closed, assigned to nobody

[2021-04-12 13:56] escamoteur commented on #47
ok the weekend wasn't long enough. I'm thinking of making the API exactly (almost) the same as that of flutter_command. This would be a breaking change, though nothing that isn't quickly fixable. What are your thoughts?

[2021-04-12 14:16] AlexBacich commented on #47
The whole null-safety is breaking change, so I think now it's the perfect time to introduce it. All logic will be re-tested anyway.

[2021-04-21 16:21] escamoteur commented on #47
just pushed first version 6.0.0-null-safety

https://github.com/fluttercommunity/rx_command/tree/null-safety

please have a close look and tell me what you think!

[2021-04-21 18:21] mk-dev-1 commented on #47
Thank you so much for your work, much appreciated!!

I can see that `initialLastResult` has now become a required field as it is non-nullable. Previously I have not been needing any initial results, therefore I now have to add this for every `RxCommand` that I set up, which seems a bit verbose. From what I can see it is safe to put in a dummy instance of `TResult` as long as I don't use `emitIniti

[2021-04-22 07:50] escamoteur commented on #47
Totally right.  This came because for flutter_command it's mandatory as every ValueNotifier needs to have an initial value
Fixed with
6.0.0-null-safety.1

What would be absolutely awesome if someone could update the readme to the changed API, namely:
* `thrownExceptions` now emits `CommandErrors`
* `CommandResult` now contains the param value
* renaming of `canExecute` to `constraint`
also check a

[2021-04-23 10:17] mk-dev-1 commented on #47
Here's another observation / question:

[code]
where `AsyncAction1` is defined as

[code]

Should it not be this?

[code]
After all, `action` from above is passed to `RxCommandAsync`'s `_func`, which is defined as

[code]
... same question for these two:

[code]

Generally, we would not expect a null value to be returned from a command that is set up like `RxCommand.createSync<bool, bool>(_func)`,

[2021-04-23 10:42] escamoteur commented on #47
you are probably right

[2021-04-23 10:42] escamoteur commented on #47
could you make a PR and try if it works? I'm kind a busy at the moment

[2021-04-26 15:24] 5eeman commented on #47
Hi,
Seems like something broken between migration to null safety. Here is code snippet.
`
var stringCommand = RxCommand.createAsync<String, String>((param) async => 'Here is your string - $param');
stringCommand.listen((value) {
  print('Value is not empty ${value.isNotEmpty}');
});
`
In this case value may be nullable for some reason, while params are non null.

[2021-04-26 19:11] mk-dev-1 commented on #47
@5eeman This issue has already been identified and is addressed in PR #53

[2021-04-28 04:00] mk-dev-1 commented on #47
Everything's looking good as far as I can see.

What we are left with is this "issue" here:

Hi all,

I have put together an initial PR for migrating the package to null-safety. However, I can't seem to find a way to migrate the package in a way that this

[code]

You would expect myCommand() to give you an error, because `TParam` is non-nullable, but it doesn't as `execute` and `call` are set up

[2021-04-28 07:18] escamoteur commented on #47
Actually I would call this not a problem but a feature. It took me quite some work to get it work like this so that you don't have to pass null explicitly.
IMHO I prefer that I can still pass the command directly to event handlers in that which is even if this means they might get an exception when I don't pass a parameter for a non nullable.
At least as a design decision that I took for flutter_c

[2021-04-28 07:20] escamoteur commented on #47
Thanks a lot for all your help. Migrating a complex package like rx_command isn't easy without people testing and giving feedback!!!

[2021-04-28 15:37] mk-dev-1 commented on #47
Thanks for the feedback. If it is a design decision that is okay, of course. I just thought I'd ask about it ;-)

[2021-04-28 15:47] escamoteur commented on #47
I think we leave the package another week in prerelease mode to see if we get any complaints

[2021-05-07 17:57] mk-dev-1 commented on #47
I've successfully tested the null-safety release in our app's beta program without experiencing any issues. I'd suggest to go ahead with releasing...

[2021-05-08 08:15] escamoteur commented on #47
If we don't get any comments till monday I push a new release version

[2021-05-11 08:03] Mabsten opened #54 "Improve Readme and doc"
I really appreciate this package but I find the documentation difficult for newcomers:
- Various discrepancies in the name of the parameters between Readme, methods' signatures and Doc. For example these 3 names are used for the same parameter: `canExecute`, `restriction`, `registration`. I saw that this problem is mentioned in issue [#47 Nullability support](https://github.com/fluttercommunity/rx

[2021-05-11 09:32] escamoteur commented on #54
Hi,
I completely understand your frustration. It's just a matter of time and energy from my side. Additionally I personally moved to use flutter_command which does no longer rely on streams together with my functional_listener package which offers rx like methods for `ValueListenables`.

It would be awesome if you could help updating the readme here. If you need help with git, no problem, I'm happ

[2021-05-12 05:46] Mabsten commented on #54
Thank you for your answer. I am happy to contribute. Within half a day I will update the readme.

[2021-05-12 11:07] Mabsten commented on #54
I have updated the README with https://github.com/fluttercommunity/rx_command/pull/55
I remain available if needed to update the Doc Api (which is much more obsolete than the Readme) and to write some Doc for newcomers (the various parameters emitInitialCommandResult, etc, are not easy to understand even from the doc api)

[2021-05-22 10:48] AlexBacich commented on #47
@escamoteur , guess we don't have any comments besides updating docs PR. Please push new version. I'll use it for RxWidgets as well.

[2021-05-26 10:46] escamoteur commented on #54
Sorry for the delay just merged and pushed with the V6.0.0 many thanks!!!
I would be really happy if you help to improve the docs!

[2021-05-26 10:46] escamoteur commented on #47
Just pushed V6.0.0

[2021-05-26 10:46] #47 closed

[2021-07-10 21:09] unipenlabs opened #56 "Update rxdart to 0.27"
Hello, can you please update the RxDart to 0.27? Thanks!

[2021-07-13 12:08] escamoteur commented on #56
done with V6.0.1

[2021-07-13 12:08] #56 closed, assigned to nobody